package page

import (
	"alc/view/layout"
)

templ Index() {
	@layout.BasePage("AnimeConnection") {
		<main class="min-h-[calc(100dvh-16rem)]">
			<!-- Portada -->
			<section>
				<div class="max-w-7xl mx-auto">
					<img class="h-96 object-cover mt-3 opacity-75 lg:h-auto" src="/static/img/mangashow.webp" alt="Portada"/>
				</div>
			</section>
			<!-- Nosotros -->
			<!-- Contacto -->
		</main>
	}
}
